
# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Environments
.env
venv/

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Documentation
docs/_build/

# Miscellaneous
*.log
*.swp
*.swo
.DS_Store

